.title-made-to{
  font-weight: bold;
}
.goto-back-forward{
  color: #000;
  font-weight: bold;
  font-size: 31px;
  padding: 0 5px;
  cursor: pointer;
}
.current-page{
  font-weight: bold;
  font-size: 21px;
}
